version: '3.8'

services:
  rag-app:
    build: .
    container_name: multimodal_rag_container
    ports:
      - "8501:8501"
    volumes:
      # 1. Map  local 'data' folder to the container's 'data' folder
      - ./data:/app/data
      
      # 2. Pass your local .env file securely
      - ./.env:/app/.env
    
    # Automation Command:
    # 1. Run the Indexer (updates FAISS)
    # 2. THEN Run the Streamlit App
    command: >
      sh -c "python -m src.indexing.indexer && streamlit run src/ui/app.py --server.address=0.0.0.0 --browser.serverAddress=localhost"