version: '3.8'

services:
  rag-app:
    build: .
    container_name: rag-container
    ports:
      - "8501:8501"
    volumes:
      - .:/app
      - ./data:/app/data
    env_file:
      - .env
    command: >
      sh -c "
        if [ ! -f data/faiss_index/multimodal.index ]; then
          echo 'First run detected! Initializing data...';
          echo '1. Running Scraper...';
          python -m src.scraping.batch_scraper;
          echo '2. Running Indexer...';
          python -m src.indexing.indexer;
        else
          echo 'Data found. Skipping initialization.';
        fi &&
        echo 'Launching Streamlit...' &&
        streamlit run src/ui/app.py
      "